html {
  box-sizing: border-box;
  font-family: Inter-Regular, sans-serif;
}



* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
  display: flex;
}

.pudge{
  all: unset;
  height: 200px;
  width: 200px;
  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation: clickEffect 0.5s linear;
  transition: 0.2s;
  
}


.pudge-clicked {
  animation: clickEffect 0.1s linear;

}


@keyframes clickEffect {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.menu__title{
  margin-top: 60px;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu__titles{
  text-align: center;
  width: 100%;
  font-size: 60px;
  padding-bottom: 0;
  margin-bottom: 0;



}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.munu{
  height: 460px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 300px;
}

.pgimg{
  height: 200px;
  width: 200px;
}

.store-container{
  width: 100%;
  height: 500px;
}

.card-container{
  padding: 20px 0;
}

.card-container .menu__title{
  margin-top: 20px;
}


@media only screen and (max-width: 600px) {

  .card-container{
    height: 210px;
    width: 2310px;
  }
}

/* Стили для экранов шириной от 601px до 1024px (обычно подходит для планшетов) */
@media only screen and (max-width: 600px) {
  .store__list {
    margin-top: 700px;
    flex-direction: column;  /* Переключаемся на вертикальное расположение */
    gap: 50px;  /* Уменьшаем расстояние между элементами для мобильных устройств */
    height: auto;
    align-items: center;
  }
}

.card-container{
  position: relative;
  height: 310px;
  width: 310px;
  transition: 0.2s ease-in;
  border: 1px solid transparent;
  padding-bottom:  100px;

  cursor: pointer;
}

.store__list{
  padding: 0 0 100px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  width: 100%;
  height: 230px;
}

.store__list-container{
  display: flex;
  gap: 100px;
}

.arcana{

  height: 310px;
  width: 510px;
  padding: 0 100px 0 0;

}

.hook{
  height: 310px;
  width: 310px;
}

.menu__title-min{
  font-size: 18px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  padding-bottom: 0;
  margin-bottom: 0;

  font-style: italic;
}

.arcana-container{
  height: 310px;
  background-color: white;
}

.card-container .menu__title{
  margin-bottom: 0;
}

.card-container:hover{
  border: 1px solid gray;
}

.arcana-slot{
  height: 310px;
  width: 310px;
  background-image: url("../public/img/arcana.png");
  background-position: center;
  background-size: cover;
}

.tower-slot{
  height: 310px;
  width: 310px;
  background-image: url("../public/img/Tower_Radiant_model.webp");
  background-position: center;
  background-size: cover;
}

.roshan-slot{
  height: 310px;
  width: 310px;
  background-image: url("../public/img/Roshan_model.webp");
  background-position: center;
  background-size: cover;
}

.store-img{
  height: 40px;
  width: 40px;
}

.bottle-slot{
  background-image: url("../public/img/bottle.png");
  height: 310px;
  width: 310px;
  background-position: center;
  background-size: cover;
}

.creep-slot{
  height: 310px;
  width: 310px;
  background-image: url("../public/img/creep.png");
  background-position: center;
  background-size: cover;
}


.menu-btn__container{

  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  h1, p, h2, h3{
    font-family: Inter,sans-serif;

  }

  .menu-btn__container{
    flex-direction: column;
  }
  .store__list-container{
    flex-direction: column;
  }
  .munu{
    margin-bottom: 0;
  }
  .market__list{
    height: auto;
    flex-direction: column;
    margin-top: 700px;
  }
}

.mask-slot{
  background-image: url("../public/img/mask.jpg");
  height: 310px;
  width: 310px;
  background-position: center;
  background-size: cover;
}

.open-btn{
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #121212;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
  color: black;
}

.open-btn:hover{
  background-color: black;
  color: white;
}

.market__list{
  padding: 0 0 100px;
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  width: 100%;
  height: 230px;
}



.creep-saller-slot{
  background-image: url("../public/img/saller.png");
  height: 310px;
  width: 310px;
  background-position: center;
  background-size: cover;
}

.ach-title{
  text-align: center;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 35px;
}

.ach-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  height: 330px;
  width: 350px;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: 0.2s;
}

.ach-container:hover{
  transform: scale(1.02);
  box-shadow: 1px 6px 15px 2px rgba(0, 0, 0, 0.25);
}

.ach-text{
  color: black;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.ach-text-container{
  padding: 10px 30px;
}

.ach-main__container{

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: transparent;

}

.star-img{
  height: 40px;
  width: 40px;
}

.ach-title-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: transparent;
}

.footer__container{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 600px;
}

.footer__text{
  text-align: center;
}


.footer__box{
  margin-top: 750px;
}

@media only screen and (max-width: 600px) {
  .menu__title{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .store__list{
    margin-top: 150px;
  }

  .market__list{
    margin-top: 200px;
    margin-bottom: 100px;
    flex-direction: column;
    gap: 20px;
  }

  .footer__container{
    margin-top: 1600px;
  }

  .market__container{
    gap: 0;
  }


}
